<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Converter & Editor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/converter_styles.css') }}">
    <script src="{{ url_for('static', filename='js/converter_script.js') }}"></script>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{{ url_for('static', filename='img/sidebar_logo.png') }}" alt="sidebar_logo">
                </span>

                <div class="text logo-text">
                    <span class="name">DOCCON</span>
                    <span class="profession">Document Converter</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search">
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{{ url_for('home') }}">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{{ url_for('image_converter') }}">
                            <i class='bx bx-image icon'></i>
                            <span class="text nav-text">Image Converter</span>
                        </a>

                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('audio_converter') }}">
                            <i class='bx bx-headphone icon'></i>
                            <span class="text nav-text">Audio Converter</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('video_converter') }}">
                            <i class='bx bx-video icon'></i>
                            <span class="text nav-text">Video Converter</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{{ url_for('pdf_to_word') }}">
                            <i class='bx bx-note icon'></i>
                            <span class="text nav-text">PDF to Word</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('word_to_pdf') }}">
                            <i class='bx bx-detail icon'></i>
                            <span class="text nav-text">Word to PDF</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{{ url_for('editing') }}">
                            <i class='bx bx-edit icon'></i>
                            <span class="text nav-text">Editing</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('compressor') }}">
                            <i class='bx bx-collapse icon'></i>
                            <span class="text nav-text">Compress</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('about') }}">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">About </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="{{ url_for('logout') }}">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav>
    <section class="home">
        <header class="header">
            <h1><img src="{{ url_for('static', filename='img/main_logo.jpg') }}" alt="main_logo">Document Converter &
                Editor</h1>
        </header>

        <div class="container">
            <h2><img src="{{ url_for('static', filename='img/audio.gif') }}" alt="audio_converter">Audio Converter</h2>

            <input type="file" id="audioFileInput" accept="audio/*">
            <select id="audioExtensionSelect">
                <option value=".mp3">MP3</option>
                <option value=".wav">WAV</option>
                <option value=".aiff">AIFF</option>
                <option value=".flac">FLAC</option>
                <option value=".aac">AAC</option>
                <option value=".ogg">OGG</option>
                <option value=".wma">WMA</option>
            </select>
            <button onclick="convertAudio()">Convert</button>
            <div id="audioOutput" class="output">
                <div class="preview">
                    <audio controls id="audioPreview" src="" alt="Audio Preview"></audio>
                </div>
                <a id="downloadAudio" download="converted_audio">Download Converted Audio</a>
            </div>
        </div>
        <div align="center">
            <div class="content">
                <img src="{{ url_for('static', filename='img/fast_conversion.png') }}" alt="fast_conversion">
                <p><strong>Fast Conversion </strong><br> With Document Converter, you can transform your files at
                    lightning
                    speed. Say
                    goodbye to waiting endlessly for your documents to convert.</p>
            </div>
            <div class="content">
                <img src="{{ url_for('static', filename='img/support_any_format.jpg') }}" alt="support_any_format">
                <p><strong>Support any Format </strong><br> No more compatibility issues or headaches over file formats.
                    Our
                    Document Converter is your all-in-one solution, supporting a wide range of formats with seamless
                    ease.
                </p>
            </div>
            <div class="content">
                <img src="{{ url_for('static', filename='img/works_online.png') }}" alt="works_online">
                <p><strong>Works Online </strong><br> No need to install bulky software or worry about compatibility –
                    our

                    platform operates entirely online, accessible from any device with an internet connection.</p>
            </div>
            <div class="content">
                <img src="{{ url_for('static', filename='img/user_friendly.png') }}" alt="user_friendly">
                <p><strong>User Friendly </strong><br> Navigating through the complexities of document conversion has
                    never been
                    easier. Our Document Converter boasts a user-friendly interface designed with you in mind.</p>
            </div>
            <div class="content">
                <img src="{{ url_for('static', filename='img/how_to_use.png') }}" alt="how_to_use">
                <p><strong>How to Use </strong><br>Choose a image, audio, video and other document and then click the
                    "Convert" button, wait a little bit until it's done and download the result. So simple!</p>
            </div>
            <div class="content">
                <img src="{{ url_for('static', filename='img/word-to-pdf.svg') }}" alt="word_to_pdf">
                <p><strong>Word and PDF Converter</strong><br>Upload your Word document, and the tool will convert and
                    provide a download link for the PDF. vice-versa</p>
            </div>
            <div class="content">
                <img src="{{ url_for('static', filename='img/secure.png') }}" alt="secure">
                <p><strong>Secure</strong><br>Convert your documents securely - No Cloud, No Data Saved.</p>
            </div>
        </div>
        <footer>

            <p>&copy; 2024 Document Converter & Editor. All rights reserved.</p>
        </footer>
    </section>

    <script src="{{ url_for('static', filename='js/home_script.js') }}"></script>
</body>

</html>